@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;    
    margin: 0;
    padding: 0;
}

header {
    background-color: #82ddf3;
    color: #fff;
    padding: 20px;
    text-align: center;
}
header button{
    height: 100%;
    padding: 4px 8px;
    border: none;
    border-radius: 4px;
    background-color: #50cdec;
    color: #fff;
}
#title {
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 386px;
    letter-spacing: 2px;
}
#title-name{
    padding: 4px 6px;
    border: none;
    margin-right: 8px;
    border-radius: 4px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 24px;
    max-width: 386px;
    margin: 0 auto;
}

.product {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 16px;
    padding: 24px;
    width: 100%;
}

.product img {
    width: 150px;
    height: auto;
    display: block;
    margin: 0 auto;
    margin-bottom: 32px;
}
.product h2{
    margin-bottom: 32px;
    font-weight: 700;
    font-size: 24px;
}

.product .descrizione{
    color: #808080;
    font-size: 16px;
}

.product .prezzo{
    margin: 16px 0;
    font-size: 18px;
    font-weight: bold;
}
.link{
    text-decoration: none;
    color: #82ddf3;
    font-weight: bold;
}
.link-btn{
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}
footer {
    background-color: #f2f2f2;
    padding: 24px;
    text-align: center;
}

.feedback{
    width: 100%;
    padding: 24px;
}
.feedback h2{
    margin-bottom: 8px;
}
.feedback input {
    width: 100%;
    border: 2px solid #ccc;
    padding: 8px 12px;
    border-radius: 4px;
}

.funzioni{
    padding: 12px 24px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}
.funzioni .funzione{
    padding: 8px 12px ;
    border: none;
    background-color: #82ddf3;
    font-size: 14px;
    margin-bottom: 8px;
    border-radius: 8px;
    color: #fff;
}

.hide{
    display: none!important;
    background-color: red;
}